
.transaction-info-container {
    text-align: center;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    color: green;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .transaction-details {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px;
    text-align: left;
  }
  
  .transaction-details p {
    margin: 5px 0;
  }
  
  .transaction-details strong {
    font-weight: bold;
  }
  